<!DOCTYPE html>
<html lang="tr">

{% include html/head %}
<!-- <script type="text/javascript">
var animate, left=0, imgObj=null, imgObj2=null;

function getOffset( el ) {
    var _x = 0;
    var _y = 0;
    while( el && !isNaN( el.offsetLeft ) && !isNaN( el.offsetTop ) ) {
        _x += el.offsetLeft - el.scrollLeft;
        _y += el.offsetTop - el.scrollTop;
        el = el.offsetParent;
    }
    return { top: _y, left: _x };
}

function displayMenu(){

   imgObj = document.getElementById('img');
   imgObj2 = document.getElementById('img2');

   imgObj.style.position= 'absolute';
   imgObj.style.top = getOffset( document.getElementById('img') ).top + 'px';
   imgObj.style.left = getOffset( document.getElementById('img') ).left + 'px';
   imgObj.style.visibility='hidden';
   imgObj2.style.display='block';

   moveRight();
}

function moveRight(){
    left = parseInt(imgObj.style.left, 10);

    if (left + 100 >= left) {
        imgObj.style.left = (left + 5) + 'px';
        imgObj.style.visibility='visible';

        animate = setTimeout(function(){moveRight();},20); // call moveRight in 20msec

        //stopanimate = setTimeout(moveRight,20);
    } else {
        stop();
    }
    //f();
}

function stop(){
   clearTimeout(animate);
}
</script>
-->
<body>

  <!-- Color Customizer, remove if not needed -->
  <div id="joiee-customizer"></div>

  <div id="main-wrapper" class="wide">

    <!-- Main Header -->
    <header id="main-header">

      <!-- Top Header -->
      <div id="header-top">
        <div class="container">
          <div class="sixteen columns">

            <!-- Logo Container -->
            <div id="logo-container">
              <div id="logo-center">
                <a href="/index.html">
                  <img src="/assets/img/logo.png" alt="Sem">
                </a>
              </div>
            </div>
            <!-- END Logo Container -->

            <div class="tagline">{{site.tagline}}</div>

            <!-- Main Navigation -->
            <nav id="main-nav">
              <table border="0">
                <tr>
                  <td>
                    <div id="img" onClick="displayMenu()"
                        class="circle" style="background-image: 
                        url('/assets/img/{{site.image}}')">
                    </div>
                    <!-- <div id="img2" style="display:none;" onClick="displayMenu()"
                        class="circle" style="background-image: 
                        url('/assets/img/{{site.image}}')">
                    </div> -->
                  </td>
                  {% for nav in site.accounts %}
                    <td>
                      <a style="margin-right:5px;" href="{{nav.url}}">
                        <div class="{{nav.icon}}">
                        </div>
                      </a>
                    </td>
                  {% endfor %}
                </tr>
              </table>
            </nav>
            <!-- END Main Navigation -->
          </div>
        </div>
      </div>

      <!-- Bottom Header -->
    </header>
    <!-- END Main Header -->

    <!-- Main Content -->
    <section id="main-content">

      <div class="container">

        <div id="header-bottom">
          <div class="container">
            <div class="sixteen columns">
              <ul class="breadcrumb">
                <li><a href="/index.html">{{site.home}}</a><span class="divider">/</span></li>
                <li style="color:#ff5700">{{site.blog}}</li>
              </ul>
            </div>
          </div>
        </div>

        <aside class="four columns sidebar">
          <section class="sidebar-section">
            {% include html/lastpost %}
            {% include html/tag %}
          </section>
        </aside>
        <div class="twelve columns">
          {{ content }}
        </div>
    </div>

    </section>

    <!-- Footer -->
    <footer id="footer">
      <!-- Bottom Footer -->
      <div id="footer-top">
        <div class="container">
          {% include html/footer %}
        </div>
      </div>
      <!-- END Bottom Footer -->

    </footer>
    <!-- END Footer -->

  </div>

</body>

</html>

</html>
