<!DOCTYPE html>
<html lang="tr">

{% include html/head %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23160847-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<body>

  <!-- Color Customizer, remove if not needed -->
  <div id="joiee-customizer"></div>

  <div id="main-wrapper" class="wide">

    <!-- Main Header -->
    <header id="main-header">

      <!-- Top Header -->
      <div id="header-top">
        <div class="container">
          <div class="sixteen columns">

            <!-- Logo Container -->
            <div id="logo-container">
              <div id="logo-center">
                <a href="/index.html">
                  <img src="/assets/img/logo.png" alt="Sem">
                </a>
              </div>
            </div>
            <!-- END Logo Container -->

            <div class="tagline">{{site.tagline}}</div>

            <!-- Main Navigation -->
            <nav id="main-nav">
              <table border="0">
                <tr>
                  <td>
                    <div id="img" onClick="displayMenu()"
                        class="circle" style="background-image: 
                        url('/assets/img/{{site.image}}')">
                    </div>
                    <!-- <div id="img2" style="display:none;" onClick="displayMenu()"
                        class="circle" style="background-image: 
                        url('/assets/img/{{site.image}}')">
                    </div> -->
                  </td>
                  {% for nav in site.accounts %}
                    <td>
                      <a style="margin-right:5px;" href="{{nav.url}}">
                        <div class="{{nav.icon}}">
                        </div>
                      </a>
                    </td>
                  {% endfor %}
                </tr>
              </table>
            </nav>
            <!-- END Main Navigation -->
          </div>
        </div>
      </div>

      <!-- Bottom Header -->
    </header>
    <!-- END Main Header -->

    <!-- Main Content -->
    <section id="main-content">

      <div class="container">

        <div id="header-bottom">
          <div class="container">
            <div class="sixteen columns">
              <ul class="breadcrumb">
                <li><a href="/index.html">{{site.home}}</a><span class="divider">/</span></li>
                <li style="color:#ff5700">{{site.blog}}</li>
              </ul>
            </div>
          </div>
        </div>

        <aside class="four columns sidebar">
          <section class="sidebar-section">
            {% include html/lastpost %}
            {% include html/tag %}
          </section>
        </aside>
        <div class="twelve columns">
          {{ content }}
        </div>
    </div>

    </section>

    <!-- Footer -->
    <footer id="footer">
      <!-- Bottom Footer -->
      <div id="footer-top">
        <div class="container">
          {% include html/footer %}
        </div>
      </div>
      <!-- END Bottom Footer -->

    </footer>
    <!-- END Footer -->

  </div>

</body>

</html>

</html>
