<!DOCTYPE html>
<html lang="tr">

{% include html/head %}

<body>

  <!-- Color Customizer, remove if not needed -->
  <div id="joiee-customizer"></div>

  <div id="main-wrapper" class="wide">

    <!-- Main Header -->
    <header id="main-header">

      <!-- Top Header -->
      <div id="header-top">
        <div class="container">
          <div class="sixteen columns">

            <!-- Logo Container -->
            <div id="logo-container">
              <div id="logo-center">
                <a href="#">
                  <img src="/assets/img/logo.png" alt="Sem">
                </a>
              </div>
            </div>
            <!-- END Logo Container -->

            <div class="tagline">{{site.tagline}}</div>

            <!-- Main Navigation -->
            <nav id="main-nav">
              <div class="circle" style="background-image: 
                    url('/assets/img/sem.jpg')">
              </div>
            </nav>
            <!-- END Main Navigation -->
          </div>
        </div>
      </div>

      <!-- Bottom Header -->
    </header>
    <!-- END Main Header -->

    <!-- Main Content -->
    <section id="main-content">

      <div class="container">

        <div id="header-bottom">
          <div class="container">
            <div class="sixteen columns">
              <ul class="breadcrumb">
                <li><a href="/index.html">{{site.home}}</a><span class="divider">/</span></li>
                <li style="color:#ff5700">{{site.blog}}</li>
              </ul>
            </div>
          </div>
        </div>

        <aside class="four columns sidebar">
          <section class="sidebar-section">
            {% include html/lastpost %}
            {% include html/tag %}
          </section>
        </aside>
        <div class="twelve columns">
          {{ content }}
        </div>
    </div>

    </section>

    <!-- Footer -->
    <footer id="footer">
      <!-- Bottom Footer -->
      <div id="footer-top">
        <div class="container">
          {% include html/footer %}
        </div>
      </div>
      <!-- END Bottom Footer -->

    </footer>
    <!-- END Footer -->

  </div>

</body>

</html>

</html>
